body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* perspective: 200px; */
}

/* .pelota {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: aqua; */
    /* transition-property: width; */
    /* transition-duration: 1s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease; */
    transition: width, 1s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
} */

/* .pelota.a {
    background: blue;
    left: 0;
} */

/* .pelota.b {
 background: red;
 right: 0; 
} */
/* .pelota:hover { */
    /* border-radius: 50%;
    background-color:blueviolet; */
/* } */
/* .canasta {
    border: 1px solid blue;
    position: relative;
    height: 100px;
    width: 100%;
    transform: rotate(45deg);
    /* transform: skew(10deg) translate(100px) scale(1); */
} */
/* .canasta:hover .pelota.a {
    /* width: 200px;
    height: 200px; */
    left: calc(50% - 100px);
}  */

/* .canasta:hover .pelota.b {
   right: calc(50% - 100px);
} */

.container {
display: flex;
align-items: center;
justify-content: center;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
height: 100vh;
/* perspective: 200px; */
}

.container {
    border: 1px solid royalblue;
}

.container:hover .cuadrado {
/* transform: rotate( 45deg); */
/* transform: rotate(45deg); */
/* transform: rotateX(45deg); */
/* transform: rotateY(45deg); */
/* transform: rotateZ(45deg); */
/* transform: rotate3d(1, 1, 1, 45deg); */
/* transform: translate(100px); */
/* perspective: 200px; */
/* perspective: 0vmax; */
/* transform: translate(100px); */
/* transform: translate3d(100px, 100px, 100px); */
/* transform: scale(3); */
/* transform: scale(2); */
/* transform-origin: left; */
/* animation-direction: alternate; */
/* animation-play-state: paused; */
/* animation-timing-function: cubic-bezier(1, 1, 1, 1); */

}

@keyframes cuadrado {
    0% {
    left: 0;
    }

    /* 50% {
    opacity: 0;
    } */

    100%{
        left: calc(100% - 240px);
    }
}

.cuadrado {
width: 200px;
height: 200px;
background: yellow;
margin: 10px;
transition: 2s;
text-align: center;
animation-name: cuadrado;
animation-duration: 1s;
/* animation-delay: 1s; */
/* animation-timing-function:  */
/* animation-iteration-count: infinite; */
/* animation-timing-function: ease-in; */
animation-direction: alternate;
/* animation-fill-mode: forwards; */
position: relative;
/* animation-timing-function: steps(60); */
/* animation-timing-function: ease-in; */
animation-timing-function: cubic-bezier(1, 1, 1, 1);
}