body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.like {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: red;
}